@media (min-width: 30px) and (orientation: landscape) and (orientation: portrait){


}
    



h1#title{
font-size: 100px;
}

ul{
margin-left: 65%;


}
li{

list-style-type: none;
float: left;
}

li button{
border: none;
background-color: rgb(138, 3, 138);
font-size: 20px;
color: white;
}

li button:hover{
background-color:rgb(53, 2, 53)


}

div#row{display: flex;

flex-direction: row;
justify-content: space-around;}



p#paragraph1{
align-items: center;
font-size: 30px;

}

div#work_with_us button{
background: orange;
border: none;
font-size: 20px;
color: white;
padding: 10px 40px
}

div#work_with_us button:hover{

background: rgb(134, 88, 1);

}

section#purple{background: rgb(207, 3, 207);

color: white;

} 


section#cyan{
color: black;
background: cyan;


}
h1#services{font-size: 30px;}

p#paragraph2{font-size: 30px;}


img#flag{width: 200px; height: 200px;}

 div#images{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    float: left;
    margin: 0 60px;
}
 div#images2{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    float: left;
    margin: 0 60px;}


    div#images3{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        float: left;
        margin: 0 60px;}
    

        div#images4{
            display: flex;
            flex-direction: column;
            font-size: 20px;
            float: left;
            margin: 0 60px;
        
}

div#items{
display: flex;
align-content: space-between space-evenly;


}

section#darkblue{
background: rgb(41, 41, 131);
color: white;


}

h1#h1form{

    font-size: 30px;
    margin-left: 300px;
}

p#pform{font-size: 20px; margin-left: 300px;}


form{
    float: left;

}

input#input1{
border: 1px solid black;
background: rgb(28, 28, 105);
background-color: rgb(28, 28, 105);
align-items: center;
font-size: 30px;
margin-left: 250px;

}
input#input2{
    border: 1px solid black;
    background: rgb(28, 28, 105);
    background-color: rgb(28, 28, 105);
    align-items: center;
    font-size: 30px;
    margin-left: 60px;
    
    }
    textarea#input3{
        border: 1px solid black;
        background: rgb(28, 28, 105);
        background-color: rgb(28, 28, 105);
        align-items: center;
        font-size: 30px;
        margin-left: 270px;
        
        
        
        
        }

        div#darkblue1{

            display: flex;
align-content: space-between space-evenly;
        }

      div#submit button{
        border: none;
        color: white;
        background: aqua;
        font-size: 20px;
        margin-left: 200px;
        padding: 10px;
        

      }

      div#submit button:hover{
      background: rgb(5, 87, 87);
      


      }

      p#invisible{
      color: rgb(5, 87, 87);

      }

    