div.gallery{
margin: 30px;
float: left;



}

.desc{

border: 1px solid gray;

}

.desc:hover{

    border: 1px solid black;
}


.sprite{
    background: url(../images/sprite.png);
    margin: 1000px;
}

.mbappe{
    width: 800px;
    height: 800px;
    background-position: 0 -1000;
}

.bajrami{
    width: 1000px;
    height: 800px;
    background-position: 0 1000;

}